.pokemon-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(115deg, #fff 48%, #f3533b 48% 55%, #fb7248 55%);
}

.pokemon-modal-close {
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.stat-container-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: -5%;
  padding: 0 10px;
  width: 110%;
  height: 65px;
  border-radius: 5px;
}

.pokemon-modal-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 450px;
  height: 500px;
  margin: 10px 0;
}

.base-stats {
  border-radius: 0;
  background-color: #212121;
  display: flex;
  width: 100%;
}

.base-stats .stats {
  color: white;
}

.image-title {
  width: 45px;
  /* min-height: 60px; */
  margin-right: 10px;
}

.pokeball-title {
  width: 40px;
  margin-left: auto;
  filter: invert(1);
}

.stats-left,
.stats-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
}

.stats-left > p,
.stats-right > p {
  font-size: 20px;
  font-weight: 500px;
  text-transform: capitalize;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.stats-left {
  background-color: rgb(241, 238, 238);
}

.base-stats > div {
  text-align: center;
  width: 100%;
}

.stats {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 45px;
  color: #212121;
}

.stats:nth-child(1),
.stats:nth-child(2) {
  border-bottom: 1px solid white;
}
