.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 350px 0 30px;
  width: 100%;
  height: 50px;
  background: linear-gradient(115deg, #ddd3d8 57.7%, black 57.7%);
}

.title__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.title__left > p {
  font-size: 28px;
  font-weight: 700;
}

.caught-seen {
  display: flex;
  align-items: center;
}

/* fix size of images to make padding more even */
.caught {
  padding: 10px 20px;
}

.seen {
  padding: 10.5px 20px;
}

.caught,
.seen {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;
}

/* Search Input */
.search-box {
  max-width: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #ffffff;
  border-radius: 4px;
}

.search-box form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box svg {
  font-size: 1.1rem;
  cursor: pointer;
}

#search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
}
