* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.main-content {
  height: 100vh;
  width: 100vw;
}

/* wrapper around main content area */
.content {
  /* margin: 0.5rem; */
  height: 80vh;
}
